# Environments
.env
.env.local
.env.*.local
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
dist/

# Next.js
.next/
out/
build/

# Mac / Windows
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
