# KAMIS API 인증 (https://www.kamis.or.kr 에서 발급)
KAMIS_API_KEY=your_api_key_here
KAMIS_API_ID=your_api_id_here

# Gemini API 키
GEMINI_API_KEY=AIzaSyCo7q_Cs4PJynkQTsHHd1_ajGIbKiKtcm4

# 서버 설정
HOST=0.0.0.0
PORT=8000

# Mock 모드 (KAMIS API 키 발급 전 테스트용: true/false)
USE_MOCK_DATA=true

#기상청 기후
WEATHER_API = your_api_key_here

#유가데이터
OPINET_API = your_api_key_here
